.custom { 
	background: rgba(72, 70, 70, 0.655);
    backdrop-filter: blur(5px);
    z-index: 5; /* Make sure the image is behind the navbar, to show the effect */
}

#logo {
    width: 40px;
    height: 40px;
}

header {
    background: linear-gradient(-45deg, rgb(88, 88, 88), #c4c4c4, rgb(72, 70, 70), #252525);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

.trans {
	background: linear-gradient(-45deg, rgba(88, 88, 88, 0.655), rgba(196, 196, 196, 0.655), rgba(72, 70, 70, 0.655), rgba(37, 37, 37, 0.655));
	background-size: 400% 400%;
    animation: gradient 15s ease infinite;
	backdrop-filter: blur(5px);
	z-index: 5;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


#banner {
	padding: 100px 0;
}

/* demo for button in jumbotron */
.a {
	background-color: red;
	width: 200px;
}

.b {
	background-color: blue;
	width: 50px;
}

