<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <!--Google Fonts-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Comfortaa|Playfair+Display|Cormorant|Spectral">
    <!--styles.css-->
    <link rel="stylesheet" href=" {{url_for('static', filename='styles.css') }}">
    <!--Jquery-->
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <!--Jquery UI-->
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js" integrity="sha256-xLD7nhI62fcsEZK2/v8LsBcb4lG7dgULkuXoXB/j91c=" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
    <header>
        <nav id="navbar" class="navbar navbar-expand-lg shadow-sm fixed-top navbar-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img id="logo" class="logo-top" style="width: 40px; height: 40px;"/></a>
                <button class="custom-toggler navbar-toggler white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    {% if session.user_id %}
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active text-white" aria-current="page" href="#">Tic Tac Toe</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">Wordle</a></li>
                        <li class="nav-item"><a class="nav-link text-white" href="#">Connect 4</a></li>
                    </ul>
                    <ul class="navbar-nav mr-auto mt-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link active text-white" aria-current="page" href="#">Profile</a></li>
                        <li class="nav-item"><a class="nav-link active text-white" aria-current="page" href="#">Logout</a></li>
                    </ul>
                    {% else %}
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item"><a class="nav-link active text-white" aria-current="page" href="#">Login</a></li>
                        <li class="nav-item"><a class="nav-link active text-white" aria-current="page" href="#">Register</a></li>
                    </ul>
                    {% endif %}
                </div>
            </div>
          </nav>
         <!--p-5 pt-5-->
        <div id="banner" class="text-center bg-image">
            <div class="mask">
                <div class="d-flex justify-content-center align-items-center pt-3">
                    {% block header %} {% endblock %}
                </div>
            </div>
        </div>
    </header>
    <main class="container-fluid">
        {% block main %} {% endblock %}
    </main>
    <div class="jumbotron">
        <button class="a">hello</button>
        <h1>hello</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, nobis. Quo, nam? Rem maiores officiis fugit rerum, alias magnam neque provident consequatur itaque repudiandae asperiores sint ullam? Repudiandae, eos dolorem?</p>
    </div>
    <div class="jumbotron">
        <h1>hello</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, nobis. Quo, nam? Rem maiores officiis fugit rerum, alias magnam neque provident consequatur itaque repudiandae asperiores sint ullam? Repudiandae, eos dolorem?</p>
    </div>
    <div class="jumbotron">
        <h1>hello</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, nobis. Quo, nam? Rem maiores officiis fugit rerum, alias magnam neque provident consequatur itaque repudiandae asperiores sint ullam? Repudiandae, eos dolorem?</p>
    </div>
    <div class="jumbotron">
        <h1>hello</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, nobis. Quo, nam? Rem maiores officiis fugit rerum, alias magnam neque provident consequatur itaque repudiandae asperiores sint ullam? Repudiandae, eos dolorem?</p>
    </div>
    <div class="jumbotron">
        <h1>hello</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, nobis. Quo, nam? Rem maiores officiis fugit rerum, alias magnam neque provident consequatur itaque repudiandae asperiores sint ullam? Repudiandae, eos dolorem?</p>
    </div>
    <div class="jumbotron">
        <h1>hello</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus, nobis. Quo, nam? Rem maiores officiis fugit rerum, alias magnam neque provident consequatur itaque repudiandae asperiores sint ullam? Repudiandae, eos dolorem?</p>
    </div>
<script>
    //185
    $(document).ready(function() {
        let header = $('header');
        let nav = $("#navbar")
        let logo = $("#logo")
        const scrollPoint = 292

        $(window).scroll(function (event) {
            var scroll = $(window).scrollTop();
            
            if (scroll >= scrollPoint) {
                logo.removeClass("logo-top")
                logo.addClass("logo-bottom")
                nav.addClass("trans")
            }
            else if (scroll <= scrollPoint) {
                logo.removeClass("logo-bottom")
                $("#logo").addClass("logo-top")
                nav.removeClass("bg-dark ")
            }
        });   

        $(".a").on("click", function()
        {
            $(".a").switchClass( "a", "b", 1000, "easeInOutQuad" );
        })
    })

    // nav.switchClass( "oldClass", "newClass", 1000, "easeInOutQuad" );
</script>
</body>
</html>


